.table-container {
  padding: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.table-form {
  max-width: 1600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
}
